openapi: 3.2.0
info:
  title: Aiera Calendars Content API
  description: API for accessing calendar data from Aiera
  version: 1.0.0
servers:
- url: https://premium.aiera.com/api
security:
- ApiKeyAuth: []
tags:
- name: Content
paths:
  /content/filings:
    get:
      security:
      - ApiKeyAuth: []
      operationId: getFilings
      description: Retrieves filings content for specific equities or filters such as form number, date range, or ticker symbol. You can provide a `bloomberg_ticker` (e.g., "AMZN:US"), `start_date`, `end_date` to filter filings within a specific date range for a specific equity.
      summary: Retrieves filings content according to parameters
      parameters:
      - name: form_number
        in: query
        required: false
        schema:
          type: string
        description: Form number to filter filings content by.
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date-time
        description: Fetch events on or after this date (defaults to 2 weeks ago) (YYYY-MM-DD)
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date-time
        description: Fetch events on or before this date (defaults to 2 weeks later) (YYYY-MM-DD)
      - name: bloomberg_ticker
        in: query
        required: true
        schema:
          type: string
        description: Filter events to 1+ bloomberg tickers always including country codes with colon (comma-separated).
      - name: isin
        in: query
        required: false
        schema:
          type: string
        description: ISIN to filter filings content by.
      - name: ric
        in: query
        required: false
        schema:
          type: string
        description: Reuters/Refinitiv RIC to filter filings content by.
      - name: permid
        in: query
        required: false
        schema:
          type: string
        description: PermID to filter filings content by.
      - name: ticker
        in: query
        required: false
        schema:
          type: string
        description: Ticker symbol to filter filings content by.
      - name: from_id
        in: query
        required: false
        schema:
          type: integer
        description: Return items with an ID greater than this.
      - name: from_index
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Starting index for pagination.
      - name: size
        in: query
        required: false
        schema:
          type: integer
          default: 100
          maximum: 100
        description: Number of items to return (maximum 100).
      responses:
        '200':
          description: Successfully retrieved filings content.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Filings'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Content
  /content/news:
    get:
      security:
      - ApiKeyAuth: []
      operationId: getNews
      description: Retrieves news content for specific equities or filters such as form number, date range, or ticker symbol. You can provide a `bloomberg_ticker` (e.g., "AMZN:US"), `start_date`, `end_date` and `news_source_id` to filter news within a specific date range for a specific equity.
      summary: Retrieves news content by equity
      parameters:
      - name: news_source_id
        in: query
        required: true
        schema:
          type: integer
        description: Return items with an ID greater than this.
      - name: start_date
        in: query
        required: true
        description: Fetch events on or after this date (defaults to 2 weeks ago)
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        required: true
        description: Fetch events on or before this date (defaults to 2 weeks from now)
        schema:
          type: string
          format: date-time
      - name: bloomberg_ticker
        in: query
        required: true
        schema:
          type: string
        description: Filter events to 1+ bloomberg tickers always including country codes with colon (comma-separated).
      - name: isin
        in: query
        required: false
        schema:
          type: string
        description: ISIN to filter news content by.
      - name: ric
        in: query
        required: false
        schema:
          type: string
        description: Reuters/Refinitiv RIC to filter news content by.
      - name: permid
        in: query
        required: false
        schema:
          type: string
        description: PermID to filter news content by.
      - name: ticker
        in: query
        required: false
        schema:
          type: string
        description: Ticker symbol to filter news content by.
      - name: from_id
        in: query
        required: false
        schema:
          type: integer
        description: Return items with an ID greater than this.
      - name: from_index
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Starting index for pagination.
      - name: size
        in: query
        required: false
        schema:
          type: integer
          default: 100
          maximum: 100
        description: Number of items to return (maximum 100).
      responses:
        '200':
          description: Successfully retrieved news content.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Content
components:
  schemas:
    Filings:
      type: object
      properties:
        content_id:
          type: integer
        title:
          type: string
        published_date:
          type: string
          format: date-time
        form_number:
          type: string
        filing_organization:
          type: string
        is_amendment:
          type: boolean
        period_end_date:
          type: string
          format: date-time
        release_date:
          type: string
          format: date-time
        arrival_date:
          type: string
          format: date-time
        pulled_date:
          type: string
          format: date-time
        pdf_url:
          type: string
        url:
          type: string
    News:
      type: object
      properties:
        content_id:
          type: integer
        title:
          type: string
        news_source_id:
          type: integer
        news_source:
          type: string
        published_date:
          type: string
          format: date-time
        url:
          type: string
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
