openapi: 3.2.0
info:
  title: Aiera Calendars Dashboards API
  description: API for accessing calendar data from Aiera
  version: 1.0.0
servers:
- url: https://premium.aiera.com/api
security:
- ApiKeyAuth: []
tags:
- name: Dashboards
paths:
  /dashboards/{dashboard_guid}/streams/{stream_guid}/matches:
    get:
      operationId: getMatch
      description: Retrieves a stream match using a dashboard guid and stream guid.
      summary: Retrieves a single match
      parameters:
      - name: dashboard_guid
        in: path
        required: true
        schema:
          type: integer
        description: Returns match
      - name: stream_guid
        in: path
        required: true
        schema:
          type: integer
        description: Returns match
      - name: start_date
        in: query
        required: true
        schema:
          type: string
        description: Fetch events on or after this date (defaults to 2 weeks ago)
      - name: end_date
        in: query
        required: true
        schema:
          type: string
        description: Fetch events on or before this date (defaults to 2 weeks from now)
      - name: linguistics
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Whether to return summary of the event.
      - name: collapse
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Whether to collapse the match
      - name: collapse_size
        in: query
        required: false
        schema:
          type: integer
          default: 5
        description: Number of matches to collapse
      - name: next_page_token
        in: query
        required: false
        schema:
          type: string
        description: Token to fetch the next page of matches
      - name: from_index
        in: query
        required: false
        schema:
          type: integer
        description: Index to start fetching matches from
      - name: size
        in: query
        required: false
        schema:
          type: integer
        description: Number of matches to return
      responses:
        '200':
          description: A match object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Dashboards
components:
  schemas:
    Match:
      type: object
      properties:
        total:
          type: integer
        size:
          type: integer
        next_page_token:
          type: string
        results:
          type: array
          items:
            type: object
            properties:
              highlights:
                type: array
                items:
                  type: string
              Event:
                type: object
                properties:
                  event_id:
                    type: integer
                  event_type:
                    type: string
                  date:
                    type: string
                    format: date-time
                  title:
                    type: string
                  equity:
                    type: object
                    properties:
                      equity_id:
                        type: integer
                      ticker:
                        type: string
                      bloomberg_ticker:
                        type: string
                      mic:
                        type: string
                      isin:
                        type: string
                      gics_sector:
                        type: string
                      gics_sub_sector:
                        type: string
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
