{"openapi": "3.0.3", "info": {"title": "Aiera REST API", "version": "1.0", "description": "Aiera financial data API"}, "servers": [{"url": "https://rest-api.aiera.com/api"}], "tags": [{"name": "Events v2", "description": "Event data and transcripts"}, {"name": "Calendar v2", "description": "Event calendar, coverage, and estimates"}, {"name": "Calendars v1", "description": "iCal calendar subscriptions"}, {"name": "Equities v2", "description": "Equity data, sectors, and summaries"}, {"name": "Filings v1", "description": "SEC regulatory filings"}, {"name": "People v1", "description": "People and speaker lookup"}, {"name": "Chat v1", "description": "AieraChat"}, {"name": "Transcrippets v1", "description": "Shareable transcript snippets"}, {"name": "Expert Access v1", "description": "Third-party expert insights content"}, {"name": "Company Docs v1", "description": "Company-published documents"}, {"name": "Companies v1", "description": "Company information and lookup"}, {"name": "Users v1", "description": "User entitlements and permissions"}, {"name": "User Admin v1", "description": "Organization user management"}], "security": [{"apiKeyHeader": []}], "components": {"securitySchemes": {"apiKeyHeader": {"type": "apiKey", "in": "header", "name": "X-API-Key", "description": "Issued API key"}, "apiKeyQuery": {"type": "apiKey", "in": "query", "name": "api_key", "description": "Issued API key"}}, "schemas": {"Events": {"properties": {"params": {"description": "Echoed request parameters", "allOf": [{"$ref": "#/components/schemas/OutputParams"}]}, "pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/Pagination"}]}, "data": {"description": "List of events", "allOf": [{"$ref": "#/components/schemas/Event"}]}}, "type": "object"}, "OutputParams": {"properties": {"page": {"type": "integer", "description": "Page number"}, "page_size": {"type": "integer", "description": "Page size"}, "bloomberg_ticker": {"type": "string", "description": "Bloomberg ticker"}, "isin": {"type": "string", "description": "ISIN"}, "ric": {"type": "string", "description": "RIC"}, "ticker": {"type": "string", "description": "Ticker symbol"}, "permid": {"type": "string", "description": "PermID"}, "sector_id": {"type": "integer", "description": "GICS sector ID"}, "subsector_id": {"type": "integer", "description": "GICS sub-sector ID"}, "search": {"type": "string", "description": "Search query"}, "include_company_metadata": {"type": "boolean", "description": "Include company metadata"}, "include_inactive": {"type": "boolean", "description": "Include inactive equities"}, "include_sourcing": {"type": "boolean", "description": "Include sourcing information"}}, "type": "object"}, "Pagination": {"properties": {"total_count": {"type": "integer", "description": "Total number of results"}, "current_page": {"type": "integer", "description": "Current page number"}, "total_pages": {"type": "integer", "description": "Total number of pages"}, "page_size": {"type": "integer", "description": "Number of results on this page"}}, "type": "object"}, "Event": {"properties": {"event_id": {"type": "integer", "description": "Event ID"}, "company_id": {"type": "integer", "description": "Company ID"}, "equity_id": {"type": "integer", "description": "Equity ID"}, "ticker": {"type": "string", "description": "Ticker symbol"}, "local_ticker": {"type": "string", "description": "Local ticker"}, "bloomberg_ticker": {"type": "string", "description": "Bloomberg ticker"}, "ric": {"type": "string", "description": "Reuters/Refinitiv RIC"}, "permid": {"type": "string", "description": "PermID"}, "isin": {"type": "string", "description": "ISIN"}, "exchange_mic": {"type": "string", "description": "Exchange MIC"}, "sector_id": {"type": "integer", "description": "GICS sector ID"}, "subsector_id": {"type": "integer", "description": "GICS sub-sector ID"}, "primary_equity": {"type": "boolean", "description": "Whether this is the primary equity"}, "title": {"type": "string", "description": "Event title"}, "event_type": {"type": "string", "description": "Event type", "enum": ["custom", "earnings", "earnings_release", "investor_meeting", "presentation", "shareholder_meeting", "special_situation"]}, "event_tags": {"description": "Event tags", "allOf": [{"$ref": "#/components/schemas/EventTag"}]}, "event_date": {"type": "string", "format": "date-time", "description": "Event date and time"}, "event_category": {"type": "string", "description": "Event category"}, "expected_language": {"type": "string", "description": "Expected language"}, "accuracy_review": {"type": "string", "description": "Accuracy review status"}, "has_unknown_time": {"type": "boolean", "description": "Whether event time is unknown"}, "connection_expected": {"type": "boolean", "description": "Whether a connection is expected"}, "is_live": {"type": "boolean", "description": "Whether the event is currently live"}, "estimate_id": {"type": "integer", "description": "Linked estimate ID"}, "machine_published": {"type": "boolean", "description": "Whether transcript is machine-published"}, "machine_published_completed": {"type": "string", "format": "date-time", "description": "Machine publish completion date"}, "human_verified": {"type": "boolean", "description": "Whether transcript is human-verified"}, "human_verified_api": {"type": "boolean", "description": "Whether human-verified for API"}, "human_verified_version": {"type": "integer", "description": "Human-verified version number"}, "human_verified_source": {"type": "string", "description": "Human verification source"}, "human_verified_source_id": {"type": "string", "description": "Human verification source ID"}, "connection_detail": {"description": "Connection detail data", "allOf": [{"$ref": "#/components/schemas/ConnectionDetail"}]}, "fiscal_year": {"type": "integer", "description": "Fiscal year"}, "fiscal_quarter": {"type": "integer", "description": "Fiscal quarter"}, "conference_number": {"type": "string", "description": "Conference dial-in number"}, "conference_pin": {"type": "string", "description": "Conference PIN"}, "broadcast_url": {"type": "string", "description": "Webcast URL"}, "replay_url": {"type": "string", "description": "Replay URL"}, "slides_url": {"type": "string", "description": "Slides URL"}, "slides_url_type": {"type": "string", "description": "Slides URL type", "enum": ["confirmed", "estimated"]}, "press_url": {"type": "string", "description": "Press release URL"}, "press_url_type": {"type": "string", "description": "Press URL type", "enum": ["confirmed", "estimated"]}, "public_url": {"type": "string", "description": "Public URL"}, "public_share_url": {"type": "string", "description": "Public share URL"}, "live_asr_provider": {"type": "string", "description": "Live ASR provider"}, "transcription_status": {"type": "string", "description": "Transcription status", "enum": ["agent_connected", "archived", "connected", "finished", "missed", "started", "submitted"]}, "transcription_audio_url": {"type": "string", "description": "Audio URL"}, "transcription_audio_offset_seconds": {"type": "integer", "description": "Audio offset in seconds"}, "audio_offset_start": {"type": "integer", "description": "Audio offset start in milliseconds"}, "audio_offset_end": {"type": "integer", "description": "Audio offset end in milliseconds"}, "audio_stream_url": {"type": "string", "description": "Audio stream URL"}, "has_transcripts": {"type": "boolean", "description": "Whether transcripts are available"}, "has_api_transcript": {"type": "boolean", "description": "Whether API transcript is available"}, "has_pricing": {"type": "boolean", "description": "Whether pricing data is available"}, "duplicate_of": {"type": "integer", "description": "ID of the event this is a duplicate of"}, "hierarchy": {"description": "Event hierarchy data", "allOf": [{"$ref": "#/components/schemas/Hierarchy"}]}, "grouping": {"description": "Event grouping data", "allOf": [{"$ref": "#/components/schemas/Grouping"}]}, "status": {"type": "string", "description": "Event status", "enum": ["active", "deleted"]}, "created": {"type": "string", "format": "date-time", "description": "Created date"}, "modified": {"type": "string", "format": "date-time", "description": "Modified date"}, "linguistics": {"description": "Linguistics metadata", "allOf": [{"$ref": "#/components/schemas/Linguistics"}]}, "price_data": {"description": "Price data", "allOf": [{"$ref": "#/components/schemas/PriceData"}]}, "transcripts": {"description": "Transcript items", "allOf": [{"$ref": "#/components/schemas/Transcript"}]}, "company_metadata": {"description": "Company metadata", "allOf": [{"$ref": "#/components/schemas/Company"}]}, "people": {"description": "People/speakers data", "allOf": [{"$ref": "#/components/schemas/Person"}]}}, "type": "object"}, "EventTag": {"properties": {"tag_id": {"type": "integer", "description": "Tag ID"}, "tag": {"type": "string", "description": "Tag name"}}, "type": "object"}, "ConnectionDetail": {"properties": {"transcription_status": {"type": "string", "description": "Transcription status", "enum": ["agent_connected", "archived", "connected", "finished", "missed", "started", "submitted"]}, "webcast_status": {"type": "string", "description": "Webcast connection status"}, "connected": {"type": "string", "format": "date-time", "description": "Connection timestamp"}, "disconnected": {"type": "string", "format": "date-time", "description": "Disconnection timestamp"}, "failure_code": {"type": "string", "description": "Failure code if connection failed"}, "published_source": {"type": "string", "description": "Published transcript source"}}, "type": "object"}, "Hierarchy": {"properties": {"parent_event": {"type": "integer", "description": "Parent event ID"}, "child_event": {"type": "integer", "description": "Child event ID"}}, "type": "object"}, "Grouping": {"properties": {"grouping_id": {"type": "integer", "description": "Grouping ID"}, "grouping_name": {"type": "string", "description": "Grouping name"}}, "type": "object"}, "Linguistics": {"properties": {"summaries": {"type": "array", "description": "Summaries", "items": {"$ref": "#/components/schemas/Summary"}}, "topics": {"type": "array", "description": "Topics", "items": {"$ref": "#/components/schemas/Topic"}}, "auto_tags": {"type": "array", "description": "Auto-tags", "items": {"type": "string"}}, "sentiment": {"description": "Sentiment", "allOf": [{"$ref": "#/components/schemas/Sentiment"}]}, "sentiment_breakouts": {"type": "array", "description": "Sentiment breakouts", "items": {"$ref": "#/components/schemas/SentimentBreakout"}}}, "type": "object"}, "Summary": {"properties": {"title": {"type": "string", "description": "Title for the summary text (if applicable)"}, "summary": {"type": "array", "description": "Summary text", "items": {"type": "string"}}, "model": {"type": "string", "description": "Source of the summary"}, "type": {"type": "string", "description": "Type of summary (presentation, Q&A, or whole-document)"}, "version": {"type": "string", "description": "Version of the summary (live or published)"}, "audio_clip": {"type": "string", "description": "Generated audio reading of the summary"}, "video_clip": {"type": "string", "description": "Generated video reading of the summary"}, "priority": {"type": "integer", "description": "Priority level of the summary"}, "created": {"type": "string", "format": "date-time", "description": "Summary creation date"}, "modified": {"type": "string", "format": "date-time", "description": "Summary modified date"}}, "type": "object"}, "Topic": {"properties": {"topic_id": {"type": "string", "description": "Topic ID"}, "topic": {"type": "string", "description": "Topic"}}, "type": "object"}, "Sentiment": {"properties": {"average": {"type": "number", "description": "Average sentiment score"}, "median": {"type": "number", "description": "Median sentiment score"}, "minimum": {"type": "number", "description": "Minimum sentiment score"}, "maximum": {"type": "number", "description": "Maximum sentiment score"}}, "type": "object"}, "SentimentBreakout": {"properties": {"start_offset": {"type": "integer", "description": "Start of the breakout offset"}, "end_offset": {"type": "integer", "description": "Median sentiment score"}, "sentiment": {"type": "number", "description": "Sentiment score"}}, "type": "object"}, "PriceData": {"properties": {"previous_day_close_price": {"type": "number", "description": "Previous day closing price"}, "current_day_open_price": {"type": "number", "description": "Current day opening price"}, "current_day_close_price": {"type": "number", "description": "Current day closing price"}, "price_at_event_start": {"type": "number", "description": "Price at event start"}, "volume_at_event_start": {"type": "number", "description": "Volume at event start"}, "price_at_event_end": {"type": "number", "description": "Price at event end"}, "volume_at_event_end": {"type": "number", "description": "Volume at event end"}, "before_transcript": {"description": "Price data before transcript", "allOf": [{"$ref": "#/components/schemas/SegmentPrice"}]}, "after_transcript": {"description": "Price data after transcript", "allOf": [{"$ref": "#/components/schemas/SegmentPrice"}]}}, "type": "object"}, "SegmentPrice": {"properties": {"trade_time": {"type": "string", "format": "date-time", "description": "Trade timestamp"}, "price": {"type": "number", "description": "Trade price"}, "volume": {"type": "integer", "description": "Trade volume"}}, "type": "object"}, "Transcript": {"properties": {"speaker_id": {"type": "integer", "description": "Speaker ID"}, "event_id": {"type": "integer", "description": "Event ID"}, "transcript_item_id": {"type": "integer", "description": "Transcript item ID"}, "start_ms": {"type": "integer", "description": "Milliseconds until start"}, "start_timestamp": {"type": "string", "format": "date-time", "description": "Timestamp of segment start"}, "duration_ms": {"type": "integer", "description": "Duration of the segment"}, "transcript": {"type": "string", "description": "Transcript"}}, "type": "object"}, "Company": {"properties": {"company_id": {"type": "integer", "description": "Company ID"}, "common_name": {"type": "string", "description": "Common name"}, "legal_name": {"type": "string", "description": "Legal name"}, "incorporated_country_code": {"type": "string", "description": "Country of incorporation"}, "domiciled_country_code": {"type": "string", "description": "Country of domicile"}, "urls": {"type": "array", "items": {"$ref": "#/components/schemas/CompanyURL"}}}, "type": "object"}, "CompanyURL": {"properties": {"url": {"type": "string", "description": "URL"}, "url_type": {"type": "string", "description": "URL type", "enum": ["facebook", "filings", "home", "instagram", "ir_events", "ir_home", "ir_news", "linkedin", "logo_icon", "twitter", "wikipedia", "youtube"]}}, "type": "object"}, "Person": {"properties": {"person_id": {"type": "integer", "description": "Person ID"}, "name": {"type": "string", "description": "Person name"}, "parent_id": {"type": "integer", "description": "Parent person ID (if merged)"}, "representations": {"description": "Representations in transcripts", "allOf": [{"$ref": "#/components/schemas/TranscriptSpeaker"}]}, "events": {"description": "Events speaker found in", "allOf": [{"$ref": "#/components/schemas/BasicEvent"}]}}, "type": "object"}, "TranscriptSpeaker": {"properties": {"speaker_id": {"type": "integer", "description": "Speaker ID"}, "name": {"type": "string", "description": "Speaker name"}, "title": {"type": "string", "description": "Speaker title"}, "firm": {"description": "Firm ID", "allOf": [{"$ref": "#/components/schemas/Firm"}]}}, "type": "object"}, "Firm": {"properties": {"firm_id": {"type": "integer", "description": "Firm ID"}, "firm": {"type": "string", "description": "Firm name"}, "domain": {"type": "string", "description": "Relevant domain"}}, "type": "object"}, "BasicEvent": {"properties": {"event_id": {"type": "integer", "description": "Event ID"}, "title": {"type": "string", "description": "Event title"}, "event_type": {"type": "string", "description": "Event type"}, "event_date": {"type": "string", "format": "date-time", "description": "Event date"}, "transcription_audio_url": {"type": "string", "description": "Event audio URL"}, "transcription_audio_offset_seconds": {"type": "integer", "description": "Offset seconds from audio file"}, "equity": {"description": "Event equity", "allOf": [{"$ref": "#/components/schemas/Equity"}]}, "transcripts": {"description": "Matched transcripts", "allOf": [{"$ref": "#/components/schemas/Transcript"}]}}, "type": "object"}, "Equity": {"properties": {"equity_id": {"type": "integer", "description": "Equity ID"}, "company_id": {"type": "integer", "description": "Company ID"}, "name": {"type": "string", "description": "Equity name"}, "common_name": {"type": "string", "description": "Common name"}, "ticker": {"type": "string", "description": "Ticker symbol"}, "local_ticker": {"type": "string", "description": "Local ticker"}, "mic": {"type": "string", "description": "Market identifier code"}, "bloomberg_ticker": {"type": "string", "description": "Bloomberg ticker"}, "isin": {"type": "string", "description": "ISIN"}, "permid": {"type": "string", "description": "PermID"}, "ric": {"type": "string", "description": "Reuters/Refinitiv RIC"}, "cusip": {"type": "string", "description": "CUSIP"}, "sector_id": {"type": "integer", "description": "GICS sector ID"}, "gics_sector": {"type": "string", "description": "GICS sector name"}, "subsector_id": {"type": "integer", "description": "GICS sub-sector ID"}, "gics_sub_sector": {"type": "string", "description": "GICS sub-sector name"}, "primary_equity": {"type": "boolean", "description": "Whether this is the primary equity"}, "created": {"type": "string", "format": "date-time", "description": "Created date"}, "modified": {"type": "string", "format": "date-time", "description": "Modified date"}, "status": {"type": "string", "description": "Equity status", "enum": ["active", "delisted", "inactive", "merger", "suspended"]}, "company_metadata": {"description": "Company metadata", "allOf": [{"$ref": "#/components/schemas/Company"}]}}, "type": "object"}, "CoverageResponse": {"properties": {"counts": {"description": "Coverage counts and breakdowns", "allOf": [{"$ref": "#/components/schemas/CoverageCounts"}]}, "results": {"type": "object", "description": "Company details (when identifier filter is provided)"}}, "type": "object"}, "CoverageCounts": {"properties": {"companies": {"type": "integer", "description": "Number of companies covered"}, "equities": {"type": "integer", "description": "Number of equities covered"}, "gics_sectors": {"type": "object", "description": "Count by GICS sector"}, "gics_subsectors": {"type": "object", "description": "Count by GICS sub-sector"}, "countries": {"type": "object", "description": "Count by country"}, "regions": {"type": "object", "description": "Count by region"}, "subregions": {"type": "object", "description": "Count by subregion"}}, "type": "object"}, "CalendarResponse": {"properties": {"params": {"type": "object", "description": "Echoed request parameters"}, "pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/CalendarPagination"}]}, "data": {"type": "array", "description": "List of events", "items": {"$ref": "#/components/schemas/CalendarEvent"}}}, "type": "object"}, "CalendarPagination": {"properties": {"total_count": {"type": "integer", "description": "Total number of results"}, "current_page": {"type": "integer", "description": "Current page number"}, "total_pages": {"type": "integer", "description": "Total number of pages"}, "page_size": {"type": "integer", "description": "Number of results on this page"}}, "type": "object"}, "CalendarEvent": {"properties": {"event_id": {"type": "integer", "description": "Event ID"}, "event_title": {"type": "string", "description": "Event title"}, "event_type": {"type": "string", "description": "Event type", "enum": ["custom", "earnings", "earnings_release", "investor_meeting", "presentation", "shareholder_meeting", "special_situation"]}, "event_date": {"type": "string", "format": "date-time", "description": "Event date"}, "equity": {"description": "Associated equity", "allOf": [{"$ref": "#/components/schemas/CalendarEquity"}]}, "has_unknown_time": {"type": "boolean", "description": "Whether event time is unknown (with connections permission)"}, "connection_expected": {"type": "boolean", "description": "Whether a connection is expected (with connections permission)"}, "broadcast_url": {"type": "string", "description": "Webcast URL (with connections permission)"}, "replay_url": {"type": "string", "description": "Replay URL (with connections permission)"}, "conference_number": {"type": "string", "description": "Conference dial-in number (with connections permission)"}, "conference_pin": {"type": "string", "description": "Conference PIN (with connections permission)"}, "slides_url": {"type": "string", "description": "Slides URL (with extras permission)"}, "press_url": {"type": "string", "description": "Press release URL (with extras permission)"}, "transcription_status": {"type": "string", "description": "Transcription status (with extras permission)", "enum": ["agent_connected", "archived", "connected", "finished", "missed", "started", "submitted"]}, "transcription_audio_url": {"type": "string", "description": "Audio URL (with extras permission)"}, "status": {"type": "string", "description": "Event status", "enum": ["active", "deleted"]}, "created": {"type": "string", "format": "date-time", "description": "Created date"}, "modified": {"type": "string", "format": "date-time", "description": "Modified date"}}, "type": "object"}, "CalendarEquity": {"properties": {"equity_id": {"type": "integer", "description": "Equity ID"}, "local_ticker": {"type": "string", "description": "Local ticker"}, "bloomberg_ticker": {"type": "string", "description": "Bloomberg ticker"}, "ric": {"type": "string", "description": "Reuters/Refinitiv RIC"}, "permid": {"type": "string", "description": "PermID"}, "isin": {"type": "string", "description": "ISIN"}, "exchange_mic": {"type": "string", "description": "Exchange MIC"}}, "type": "object"}, "EstimatesResponse": {"properties": {"params": {"type": "object", "description": "Echoed request parameters"}, "pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/CalendarPagination"}]}, "results": {"type": "array", "description": "List of estimates", "items": {"$ref": "#/components/schemas/EstimateItem"}}}, "type": "object"}, "EstimateItem": {"properties": {"estimate_id": {"type": "integer", "description": "Estimate ID"}, "created": {"type": "string", "format": "date-time", "description": "Created date"}, "modified": {"type": "string", "format": "date-time", "description": "Modified date"}, "equity": {"description": "Associated equity", "allOf": [{"$ref": "#/components/schemas/EstimateEquity"}]}, "estimate": {"description": "Estimated event details", "allOf": [{"$ref": "#/components/schemas/EstimateDetail"}]}, "actual": {"description": "Matched actual event, if any", "allOf": [{"$ref": "#/components/schemas/EstimateActual"}]}}, "type": "object"}, "EstimateEquity": {"properties": {"equity_id": {"type": "integer", "description": "Equity ID"}, "name": {"type": "string", "description": "Equity name"}, "common_name": {"type": "string", "description": "Common name"}, "local_ticker": {"type": "string", "description": "Local ticker"}, "mic": {"type": "string", "description": "Exchange MIC"}, "bloomberg_ticker": {"type": "string", "description": "Bloomberg ticker"}, "isin": {"type": "string", "description": "ISIN"}, "permid": {"type": "string", "description": "PermID"}, "gics_sector": {"type": "string", "description": "GICS sector name"}, "gics_sub_sector": {"type": "string", "description": "GICS sub-sector name"}}, "type": "object"}, "EstimateDetail": {"properties": {"call_type": {"type": "string", "description": "Estimated event type"}, "call_date": {"type": "string", "format": "date-time", "description": "Estimated date"}, "title": {"type": "string", "description": "Estimated event title"}}, "type": "object"}, "EstimateActual": {"properties": {"event_id": {"type": "integer", "description": "Actual event ID"}, "call_type": {"type": "string", "description": "Actual event type"}, "call_date": {"type": "string", "format": "date-time", "description": "Actual date"}, "title": {"type": "string", "description": "Actual event title"}}, "type": "object"}, "Sector": {"properties": {"sector_id": {"type": "integer", "description": "Sector ID"}, "gics_code": {"type": "string", "description": "GICS code"}, "name": {"type": "string", "description": "Sector name"}, "subsectors": {"type": "array", "description": "Sub-sectors", "items": {"$ref": "#/components/schemas/Subsector"}}}, "type": "object"}, "Subsector": {"properties": {"subsector_id": {"type": "integer", "description": "Sub-sector ID"}, "gics_code": {"type": "string", "description": "GICS code"}, "gics_industry_code": {"type": "string", "description": "GICS industry code"}, "name": {"type": "string", "description": "Sub-sector name"}}, "type": "object"}, "Equities": {"properties": {"params": {"description": "Echoed request parameters", "allOf": [{"$ref": "#/components/schemas/OutputParams"}]}, "pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/Pagination"}]}, "data": {"description": "List of equities", "allOf": [{"$ref": "#/components/schemas/Equity"}]}}, "type": "object"}, "EquitySummary": {"properties": {"equity_id": {"type": "integer", "description": "Equity ID"}, "company_id": {"type": "integer", "description": "Company ID"}, "name": {"type": "string", "description": "Equity name"}, "common_name": {"type": "string", "description": "Common name"}, "local_ticker": {"type": "string", "description": "Local ticker"}, "mic": {"type": "string", "description": "Market identifier code"}, "bloomberg_ticker": {"type": "string", "description": "Bloomberg ticker"}, "isin": {"type": "string", "description": "ISIN"}, "permid": {"type": "string", "description": "PermID"}, "ric": {"type": "string", "description": "Reuters/Refinitiv RIC"}, "cusip": {"type": "string", "description": "CUSIP"}, "gics_sector": {"type": "string", "description": "GICS sector name"}, "gics_sub_sector": {"type": "string", "description": "GICS sub-sector name"}, "description": {"type": "string", "description": "Company description"}, "company_url": {"type": "string", "description": "Company website URL"}, "ceo_name": {"type": "string", "description": "CEO name"}, "country": {"type": "string", "description": "Country code"}, "estimated_next_earnings": {"type": "string", "format": "date-time", "description": "Estimated next earnings date"}, "created": {"type": "string", "format": "date-time", "description": "Created date"}, "modified": {"type": "string", "format": "date-time", "description": "Modified date"}, "status": {"type": "string", "description": "Equity status", "enum": ["active", "delisted", "inactive", "merger", "suspended"]}, "leadership": {"type": "array", "description": "Company leadership", "items": {"$ref": "#/components/schemas/SummaryLeader"}}, "indices": {"type": "array", "description": "Market indices", "items": {"type": "string"}}, "events": {"description": "Past and upcoming events", "allOf": [{"$ref": "#/components/schemas/SummaryEvents"}]}}, "type": "object"}, "SummaryLeader": {"properties": {"name": {"type": "string", "description": "Leader name"}, "title": {"type": "string", "description": "Leader title"}, "event_count": {"type": "integer", "description": "Number of events"}, "last_event_date": {"type": "string", "format": "date-time", "description": "Last event date"}}, "type": "object"}, "SummaryEvents": {"properties": {"past": {"type": "array", "description": "Past events", "items": {"$ref": "#/components/schemas/SummaryEvent"}}, "upcoming": {"type": "array", "description": "Upcoming events", "items": {"$ref": "#/components/schemas/SummaryEvent"}}}, "type": "object"}, "SummaryEvent": {"properties": {"event_id": {"type": "integer", "description": "Event ID"}, "title": {"type": "string", "description": "Event title"}, "event_type": {"type": "string", "description": "Event type", "enum": ["custom", "earnings", "earnings_release", "investor_meeting", "presentation", "shareholder_meeting", "special_situation"]}, "event_date": {"type": "string", "format": "date-time", "description": "Event date"}, "fiscal_quarter": {"type": "integer", "description": "Fiscal quarter"}, "fiscal_year": {"type": "integer", "description": "Fiscal year"}, "conference_number": {"type": "string", "description": "Conference dial-in number"}, "conference_number_alt": {"type": "string", "description": "Alternative conference number"}, "conference_pin": {"type": "string", "description": "Conference PIN"}, "broadcast_url": {"type": "string", "description": "Webcast URL"}, "replay_url": {"type": "string", "description": "Replay URL"}, "transcription_status": {"type": "string", "description": "Transcription status", "enum": ["agent_connected", "archived", "connected", "finished", "missed", "started", "submitted"]}, "transcription_connected": {"type": "string", "description": "Transcription connection time"}, "transcription_disconnected": {"type": "string", "description": "Transcription disconnection time"}, "has_human_verified": {"type": "boolean", "description": "Whether transcript is human-verified"}, "has_live_transcript": {"type": "boolean", "description": "Whether live transcript exists"}, "has_audio": {"type": "boolean", "description": "Whether audio is available"}, "has_press_release": {"type": "boolean", "description": "Whether press release is available"}, "has_slides": {"type": "boolean", "description": "Whether slides are available"}, "duplicate_of": {"type": "integer", "description": "Duplicate event ID"}, "created": {"type": "string", "format": "date-time", "description": "Created date"}, "modified": {"type": "string", "format": "date-time", "description": "Modified date"}, "price_data": {"description": "Price data", "allOf": [{"$ref": "#/components/schemas/SummaryPriceData"}]}, "summary": {"type": "object", "description": "Event summary"}}, "type": "object"}, "SummaryPriceData": {"properties": {"previous_day_close_price": {"type": "number", "description": "Previous day closing price"}, "current_day_open_price": {"type": "number", "description": "Current day opening price"}, "current_day_close_price": {"type": "number", "description": "Current day closing price"}, "price_at_start": {"type": "number", "description": "Price at event start"}, "price_at_end": {"type": "number", "description": "Price at event end"}, "volume_at_start": {"type": "integer", "description": "Volume at event start"}, "volume_at_end": {"type": "integer", "description": "Volume at event end"}}, "type": "object"}, "FilingsResponse": {"properties": {"params": {"type": "object", "description": "Echoed request parameters"}, "pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/FilingPagination"}]}, "data": {"type": "array", "description": "List of filings", "items": {"$ref": "#/components/schemas/Filing"}}}, "type": "object"}, "FilingPagination": {"properties": {"total_count": {"type": "integer", "description": "Total number of results"}, "current_page": {"type": "integer", "description": "Current page number"}, "total_pages": {"type": "integer", "description": "Total number of pages"}, "page_size": {"type": "integer", "description": "Number of results on this page"}}, "type": "object"}, "Filing": {"properties": {"filing_id": {"type": "integer", "description": "Filing ID"}, "equity": {"description": "Associated equity", "allOf": [{"$ref": "#/components/schemas/FilingEquity"}]}, "title": {"type": "string", "description": "Filing title"}, "form_number": {"type": "string", "description": "SEC form number"}, "form_name": {"type": "string", "description": "Short form name"}, "filing_organization": {"type": "string", "description": "Filing organization (e.g. SEC)"}, "filing_system": {"type": "string", "description": "Filing system (e.g. EDGAR)"}, "is_amendment": {"type": "boolean", "description": "Whether the filing is an amendment"}, "period_end_date": {"type": "string", "format": "date-time", "description": "Period end date"}, "release_date": {"type": "string", "format": "date-time", "description": "Release date"}, "arrival_date": {"type": "string", "format": "date-time", "description": "Arrival date"}, "pulled_date": {"type": "string", "format": "date-time", "description": "Pulled date"}, "pdf_url": {"type": "string", "description": "PDF download URL"}, "aiera_url": {"type": "string", "description": "Aiera dashboard URL"}, "json_synced": {"type": "boolean", "description": "Whether JSON data has been synced"}, "json_available": {"type": "boolean", "description": "Whether JSON data is available"}, "datafiles_synced": {"type": "boolean", "description": "Whether datafiles have been synced"}, "summary": {"type": "object", "description": "AI-generated summary (when include_summaries=true)"}, "datafiles": {"type": "array", "description": "Associated datafiles", "items": {"$ref": "#/components/schemas/FilingDatafile"}}}, "type": "object"}, "FilingEquity": {"properties": {"equity_id": {"type": "integer", "description": "Equity ID"}, "company_id": {"type": "integer", "description": "Company ID"}, "name": {"type": "string", "description": "Equity name"}, "common_name": {"type": "string", "description": "Common name"}, "local_ticker": {"type": "string", "description": "Local ticker"}, "mic": {"type": "string", "description": "Market identifier code"}, "bloomberg_ticker": {"type": "string", "description": "Bloomberg ticker"}, "isin": {"type": "string", "description": "ISIN"}, "permid": {"type": "string", "description": "PermID"}}, "type": "object"}, "FilingDatafile": {"properties": {"file_type": {"type": "string", "description": "File type (e.g. xml, xsd)"}, "description": {"type": "string", "description": "File description"}, "origin": {"type": "string", "description": "Original source URL"}, "url": {"type": "string", "description": "Proxied download URL"}}, "type": "object"}, "PeopleList": {"properties": {"pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/Pagination"}]}, "data": {"type": "array", "description": "List of people", "items": {"$ref": "#/components/schemas/PersonListItem"}}}, "type": "object"}, "PersonListItem": {"properties": {"person_id": {"type": "integer", "description": "Person ID"}, "name": {"type": "string", "description": "Person name"}, "parent_id": {"type": "integer", "description": "Parent person ID (if merged)"}}, "type": "object"}, "CreateChatSession": {"properties": {"title": {"type": "string", "description": "Optional session title. If omitted, a title is generated."}, "prompt": {"type": "string", "description": "Optional initial prompt \u2014 if provided, the first message is sent immediately and the session begins generating a response."}, "sources": {"type": "object", "description": "Optional initial sources array to scope the session to specific documents, events, or companies. See [Chat](../../chat) for source shape."}}, "type": "object"}, "ChatSessionsList": {"properties": {"data": {"type": "array", "description": "List of chat sessions", "items": {"$ref": "#/components/schemas/ChatSession"}}, "pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/ChatSessionPagination"}]}}, "type": "object"}, "ChatSession": {"properties": {"id": {"type": "integer", "description": "Session ID"}, "title": {"type": "string", "description": "Session title"}, "title_status": {"type": "string", "description": "Title status", "enum": ["generated", "user"]}, "status": {"type": "string", "description": "Session status", "enum": ["active", "cancelling_response", "deleted", "finding_sources", "finding_sources_error", "generating_response", "generating_response_error"]}, "active_message_id": {"type": "integer", "description": "ID of the currently active message"}, "sources": {"type": "array", "description": "Session-level sources", "items": {"$ref": "#/components/schemas/ChatSource"}}, "messages": {"type": "array", "description": "Messages (when `include_messages=true`)", "items": {"$ref": "#/components/schemas/ChatMessage"}}, "user_id": {"type": "integer", "description": "User ID"}, "created_at": {"type": "string", "format": "date-time", "description": "Created timestamp"}, "updated_at": {"type": "string", "format": "date-time", "description": "Updated timestamp"}}, "type": "object"}, "ChatSource": {"properties": {"id": {"type": "string", "description": "Source identifier"}, "name": {"type": "string", "description": "Source display name"}, "type": {"type": "string", "description": "Source type (company, event, filing, research, etc.)"}, "meta": {"type": "object", "description": "Source metadata"}, "parent": {"type": "object", "description": "Parent source reference"}}, "type": "object"}, "ChatMessage": {"properties": {"id": {"type": "integer", "description": "Message ID"}, "message_type": {"type": "string", "description": "Message type", "enum": ["prompt", "response", "source_confirmation", "status"]}, "content": {"type": "string", "description": "Message content (for prompts)"}, "blocks": {"type": "array", "description": "Content blocks (for responses)", "items": {"$ref": "#/components/schemas/ChatContentBlock"}}, "sources": {"type": "array", "description": "Sources referenced", "items": {"$ref": "#/components/schemas/ChatSource"}}, "session_id": {"type": "integer", "description": "Parent session ID"}, "prompt_message_id": {"type": "integer", "description": "ID of the prompt this responds to"}, "ordinal_id": {"type": "string", "description": "Ordering identifier"}, "created_at": {"type": "string", "format": "date-time", "description": "Created timestamp"}, "updated_at": {"type": "string", "format": "date-time", "description": "Updated timestamp"}}, "type": "object"}, "ChatContentBlock": {"properties": {"type": {"type": "string", "description": "Block type (text)"}, "content": {"type": "string", "description": "Text content"}, "citations": {"type": "array", "description": "Citations in this block", "items": {"$ref": "#/components/schemas/ChatCitation"}}}, "type": "object"}, "ChatCitation": {"properties": {"marker": {"type": "string", "description": "Citation marker (e.g. [1])"}, "quote": {"type": "string", "description": "Quoted text from the source"}, "date": {"type": "string", "format": "date", "description": "Source date"}, "author": {"type": "string", "description": "Source author"}, "url": {"type": "string", "description": "Source URL"}, "source": {"type": "object", "description": "Source reference object"}}, "type": "object"}, "ChatSessionPagination": {"properties": {"page": {"type": "integer", "description": "Current page number"}, "page_size": {"type": "integer", "description": "Items per page"}, "total_pages": {"type": "integer", "description": "Total number of pages"}, "total_count": {"type": "integer", "description": "Total number of sessions"}, "has_next": {"type": "boolean", "description": "Whether there is a next page"}, "has_previous": {"type": "boolean", "description": "Whether there is a previous page"}}, "type": "object"}, "UpdateChatSession": {"properties": {"title": {"type": "string", "description": "New session title"}, "sources": {"type": "object", "description": "Updated sources array"}}, "type": "object"}, "DeleteChatSessionResponse": {"properties": {"success": {"type": "boolean", "description": "Whether the deletion was successful"}}, "type": "object"}, "ChatPrompt": {"required": ["content"], "properties": {"content": {"type": "string", "description": "The prompt message text"}, "tool_settings": {"type": "object", "description": "Optional tool settings (`source_filters`, `web_search_enabled`)"}}, "type": "object"}, "ChatPromptResponse": {"properties": {"id": {"type": "integer", "description": "Prompt message ID"}, "content": {"type": "string", "description": "Prompt content"}, "session_id": {"type": "integer", "description": "Session ID"}, "message_type": {"type": "string", "description": "Message type (prompt)"}, "created_at": {"type": "string", "format": "date-time", "description": "Created timestamp"}}, "type": "object"}, "TranscrippetCreate": {"properties": {"transcrippet_id": {"type": "integer", "description": "Unique ID of the created Transcrippet\u2122"}, "company_id": {"type": "integer", "description": "Company ID"}, "equity_id": {"type": "integer", "description": "Equity ID"}, "event_id": {"type": "integer", "description": "Event ID"}, "speaker_id": {"type": "integer", "description": "Speaker ID"}, "transcript_item_id": {"type": "integer", "description": "Transcript item ID"}, "user_id": {"type": "integer", "description": "User ID"}, "audio_url": {"type": "string", "description": "URL of the event audio"}, "company_logo_url": {"type": "string", "description": "URL of the company logo"}, "company_name": {"type": "string", "description": "Company name"}, "company_ticker": {"type": "string", "description": "Company ticker"}, "created": {"type": "string", "format": "date-time", "description": "Date & time of when the Transcrippet\u2122 was created"}, "end_ms": {"type": "integer", "description": "Timestamp in milliseconds of Transcrippet\u2122 audio end"}, "event_date": {"type": "string", "format": "date-time", "description": "Event date & time"}, "event_title": {"type": "string", "description": "Event title"}, "event_type": {"type": "string", "description": "Event type", "enum": ["earnings", "guidance", "investor_meeting", "presentation", "sales_call", "shareholder_meeting", "special_call"]}, "modified": {"type": "string", "format": "date-time", "description": "Date & time of when the Transcrippet\u2122 was updated"}, "speaker_name": {"type": "string", "description": "Speaker name"}, "speaker_title": {"type": "string", "description": "Speaker title"}, "start_ms": {"type": "integer", "description": "Timestamp in milliseconds of Transcrippet\u2122 audio start"}, "transcript": {"type": "string", "description": "Transcrippet\u2122 text"}, "transcrippet_guid": {"type": "string", "description": "Unique GUID of the created Transcrippet\u2122"}, "transcription_audio_offset_seconds": {"type": "integer", "description": "Event audio offset in seconds"}, "trimmed_audio_url": {"type": "string", "description": "URL of the truncated event audio"}, "word_durations_ms": {"type": "object", "description": "List of word durations in milliseconds of the Transcrippet\u2122 text"}}, "type": "object"}, "TranscrippetDeleteResponse": {"properties": {"success": {"type": "boolean", "description": "Whether the deletion was successful"}}, "type": "object"}, "ExpertStatus": {"properties": {"status": {"type": "string", "description": "Service status"}}, "type": "object"}, "ExpertEventsResponse": {"properties": {"params": {"type": "object", "description": "Echoed request parameters"}, "pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/ExpertPagination"}]}, "data": {"type": "array", "description": "List of events", "items": {"$ref": "#/components/schemas/ExpertEvent"}}}, "type": "object"}, "ExpertPagination": {"properties": {"total_count": {"type": "integer", "description": "Total number of results"}, "current_page": {"type": "integer", "description": "Current page number"}, "total_pages": {"type": "integer", "description": "Total number of pages"}, "page_size": {"type": "integer", "description": "Number of results on this page"}}, "type": "object"}, "ExpertEvent": {"properties": {"event_id": {"type": "string", "description": "Provider event ID"}, "content_type": {"type": "string", "description": "Content type", "enum": ["COMMUNITY", "FORUM", "PRIMER"]}, "call_date": {"type": "string", "format": "date-time", "description": "Call date"}, "title": {"type": "string", "description": "Event title"}, "language": {"type": "string", "description": "Content language"}, "agenda": {"type": "array", "description": "Agenda items", "items": {"type": "string"}}, "insights": {"type": "array", "description": "Key insights", "items": {"type": "string"}}}, "type": "object"}, "ExpertEventDetail": {"properties": {"thirdbridge_id": {"type": "string", "description": "Third Bridge event ID"}, "content_type": {"type": "string", "description": "Content type", "enum": ["COMMUNITY", "FORUM", "PRIMER"]}, "title": {"type": "string", "description": "Event title"}, "call_date": {"type": "string", "format": "date-time", "description": "Call date"}, "language": {"type": "string", "description": "Content language"}, "agenda": {"type": "array", "description": "Agenda items", "items": {"type": "string"}}, "keyInsights": {"type": "array", "description": "Key insights", "items": {"type": "string"}}, "expertBiographies": {"type": "array", "description": "Expert biographies", "items": {"$ref": "#/components/schemas/ExpertBiography"}}, "companies": {"type": "array", "description": "Related companies", "items": {"$ref": "#/components/schemas/ExpertCompany"}}, "transcript": {"type": "string", "description": "Full transcript text"}}, "type": "object"}, "ExpertBiography": {"properties": {"name": {"type": "string", "description": "Expert name"}, "biography": {"type": "string", "description": "Expert biography text"}}, "type": "object"}, "ExpertCompany": {"properties": {"name": {"type": "string", "description": "Company name"}, "ticker": {"type": "string", "description": "Company ticker"}, "exchange": {"type": "string", "description": "Exchange name"}}, "type": "object"}, "CategoriesResponse": {"properties": {"pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/DocPagination"}]}, "data": {"type": "object", "description": "Map of category name to document count"}}, "type": "object"}, "DocPagination": {"properties": {"total_count": {"type": "integer", "description": "Total number of results"}, "current_page": {"type": "integer", "description": "Current page number"}, "total_pages": {"type": "integer", "description": "Total number of pages"}, "page_size": {"type": "integer", "description": "Number of results on this page"}}, "type": "object"}, "KeywordsResponse": {"properties": {"pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/DocPagination"}]}, "data": {"type": "object", "description": "Map of keyword to document count"}}, "type": "object"}, "DocsResponse": {"properties": {"params": {"type": "object", "description": "Echoed request parameters"}, "pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/DocPagination"}]}, "data": {"type": "array", "description": "List of documents", "items": {"$ref": "#/components/schemas/DocItem"}}}, "type": "object"}, "DocItem": {"properties": {"doc_id": {"type": "integer", "description": "Document ID"}, "company": {"description": "Company information", "allOf": [{"$ref": "#/components/schemas/DocCompany"}]}, "publish_date": {"type": "string", "format": "date", "description": "Publish date"}, "category": {"type": "string", "description": "Document category", "enum": ["announcement", "annual_report", "earnings_release", "financial_report", "investor_update", "press_release", "sec_filing", "slide_presentation", "sustainability_report"]}, "title": {"type": "string", "description": "Document title"}, "source_url": {"type": "string", "description": "Original source URL"}, "summary": {"type": "object", "description": "AI-generated summary"}, "keywords": {"type": "object", "description": "Extracted keywords"}, "processed": {"type": "string", "format": "date-time", "description": "Processing date"}, "event_id": {"type": "integer", "description": "Mapped event (scheduled_audio_call) ID, if the doc maps to an event"}, "event_map_type": {"type": "string", "description": "How the doc maps to the event", "enum": ["press_release", "slide_presentation", "earnings_release"]}, "created": {"type": "string", "format": "date-time", "description": "Created date"}, "modified": {"type": "string", "format": "date-time", "description": "Modified date"}}, "type": "object"}, "DocCompany": {"properties": {"company_id": {"type": "integer", "description": "Company ID"}, "common_name": {"type": "string", "description": "Common name"}, "legal_name": {"type": "string", "description": "Legal name"}, "incorporated_country_code": {"type": "string", "description": "Country of incorporation"}, "domiciled_country_code": {"type": "string", "description": "Country of domicile"}}, "type": "object"}, "CompaniesResponse": {"properties": {"params": {"type": "object", "description": "Echoed request parameters"}, "pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/CompanyPagination"}]}, "data": {"type": "array", "description": "List of companies", "items": {"$ref": "#/components/schemas/Company"}}}, "type": "object"}, "CompanyPagination": {"properties": {"total_count": {"type": "integer", "description": "Total number of results"}, "current_page": {"type": "integer", "description": "Current page number"}, "total_pages": {"type": "integer", "description": "Total number of pages"}, "page_size": {"type": "integer", "description": "Number of results on this page"}}, "type": "object"}, "EntitlementsResponse": {"properties": {"entitlements": {"type": "array", "description": "List of entitlement tags", "items": {"type": "string"}}, "exclusions": {"type": "array", "description": "List of exclusion tags", "items": {"type": "string"}}}, "type": "object"}, "UsersResponse": {"properties": {"pagination": {"description": "Pagination metadata", "allOf": [{"$ref": "#/components/schemas/UserPagination"}]}, "data": {"type": "array", "description": "List of users", "items": {"$ref": "#/components/schemas/UserItem"}}}, "type": "object"}, "UserPagination": {"properties": {"total_count": {"type": "integer", "description": "Total number of users"}, "current_page": {"type": "integer", "description": "Current page number"}, "total_pages": {"type": "integer", "description": "Total number of pages"}, "page_size": {"type": "integer", "description": "Number of results on this page"}}, "type": "object"}, "UserItem": {"properties": {"user_id": {"type": "integer", "description": "User ID"}, "username": {"type": "string", "description": "Username"}, "first_name": {"type": "string", "description": "First name"}, "last_name": {"type": "string", "description": "Last name"}, "primary_email": {"type": "string", "description": "Primary email address"}, "api_key": {"type": "string", "description": "API key"}, "is_active": {"type": "boolean", "description": "Whether the user is active"}, "status": {"type": "string", "description": "User status"}, "create_date": {"type": "string", "format": "date-time", "description": "Account creation date"}, "last_active": {"type": "string", "format": "date-time", "description": "Last active date"}}, "type": "object"}, "OntologyQueryRequest": {"required": ["query"], "properties": {"query": {"type": "string", "description": "SPARQL query to execute"}, "timeout": {"type": "integer", "description": "Query timeout in seconds (max 30)"}, "include_raw": {"type": "boolean", "description": "Include raw Neptune response"}}, "type": "object"}, "OntologyQueryResponse": {"properties": {"success": {"type": "boolean", "description": "Whether the query executed successfully"}, "data": {"type": "object", "description": "Query results"}, "error": {"description": "Error details if query failed", "allOf": [{"$ref": "#/components/schemas/OntologyErrorDetail"}]}, "metadata": {"description": "Execution metadata", "allOf": [{"$ref": "#/components/schemas/OntologyQueryMetadata"}]}}, "type": "object"}, "OntologyErrorDetail": {"properties": {"code": {"type": "string", "description": "Error code"}, "message": {"type": "string", "description": "Error message"}, "details": {"type": "string", "description": "Additional details"}}, "type": "object"}, "OntologyQueryMetadata": {"properties": {"query_type": {"type": "string", "description": "Type of SPARQL query executed"}, "execution_time_ms": {"type": "integer", "description": "Query execution time in milliseconds"}, "result_count": {"type": "integer", "description": "Number of results returned"}, "truncated": {"type": "boolean", "description": "Whether results were truncated"}, "limit_applied": {"type": "integer", "description": "Limit applied to results"}}, "type": "object"}, "TranscriptWithEvent": {"properties": {"event_id": {"type": "integer", "description": "Event ID"}, "transcript_item_id": {"type": "integer", "description": "Transcript item ID"}, "event_type": {"type": "string", "description": "The type of transcript"}, "transcript": {"type": "string", "description": "Text of transcribed item"}, "timestamp": {"type": "string", "format": "date-time", "description": "Timestamp of transcribed item"}, "start_ms": {"type": "integer", "description": "Milliseconds from audio start"}, "duration_ms": {"type": "integer", "description": "Duration of the transcript"}, "pretty_word_durations_ms": {"type": "object", "description": "Durations of the prettified transcript words"}, "pretty_word_offsets_ms": {"type": "object", "description": "Offsets of the prettified transcript words"}, "word_durations_ms": {"type": "object", "description": "Durations of the transcript words"}, "word_offsets_ms": {"type": "object", "description": "Offsets of the transcript words"}, "speaker_id": {"type": "integer", "description": "Speaker identifier"}, "speaker_type": {"type": "string", "description": "Speaker type"}, "person_id": {"type": "integer", "description": "Person identifier"}, "original": {"type": "string", "description": "Unimproved original text of transcribed item"}, "annotated": {"type": "object", "description": "Raw annotations"}, "audio_url": {"type": "string", "description": "Audio of this segment"}, "is_improved": {"type": "boolean", "description": "Whether this text has been improved post-realtime"}, "is_edited": {"type": "boolean", "description": "Whether this text has been human edited"}, "modified": {"type": "string", "format": "date-time", "description": "Modified timestamp"}, "linguistics": {"description": "Linguistic analysis", "allOf": [{"$ref": "#/components/schemas/Linguistics"}]}, "price_data": {"description": "Pricing data", "allOf": [{"$ref": "#/components/schemas/PriceData"}]}}, "type": "object"}, "UploadAudio": {"properties": {"audio_url": {"type": "string", "description": "URL of the uploaded audio"}}, "type": "object"}, "PrivateCreate": {"properties": {"event_id": {"type": "integer", "description": "Created event ID"}}, "type": "object"}, "EventRequestInput": {"required": ["equity_identifier", "time", "title"], "properties": {"equity_identifier": {"type": "string", "description": "Equity identifier (ticker, ISIN, etc.)"}, "title": {"type": "string", "description": "Event title"}, "time": {"type": "string", "format": "date-time", "description": "Event time"}, "webcast_url": {"type": "string", "description": "Webcast URL"}, "dial_in_phone_number": {"type": "string", "description": "Dial-in phone number"}, "dial_in_pin": {"type": "string", "description": "Dial-in PIN"}}, "type": "object"}, "EventRequest": {"properties": {"request_id": {"type": "integer", "description": "Event request ID"}, "status": {"type": "string", "description": "Request status"}, "equity_identifier": {"type": "string", "description": "Equity identifier used in the request"}, "title": {"type": "string", "description": "Event title"}, "time": {"type": "string", "format": "date-time", "description": "Event time"}, "webcast_url": {"type": "string", "description": "Webcast URL"}, "dial_in_phone_number": {"type": "string", "description": "Dial-in phone number"}, "dial_in_pin": {"type": "string", "description": "Dial-in PIN"}, "event_id": {"type": "integer", "description": "Associated event ID"}}, "type": "object"}, "Dashboard": {"properties": {"dashboard_guid": {"type": "string", "description": "Dashboard ID"}, "name": {"type": "string", "description": "Dashboard name"}, "description": {"type": "string", "description": "Dashboard description"}, "streams": {"type": "array", "description": "Dashboard streams", "items": {"$ref": "#/components/schemas/Stream"}}}, "type": "object"}, "Stream": {"properties": {"stream_guid": {"type": "string", "description": "Stream ID"}, "name": {"type": "string", "description": "Stream name"}, "stream_type": {"type": "string", "description": "Stream type"}}, "type": "object"}, "StreamMatches": {"properties": {"total": {"type": "integer", "description": "Total number of results"}, "size": {"type": "integer", "description": "Size of this result set"}, "next_page_token": {"type": "string", "description": "Pagination token"}, "results": {"type": "array", "description": "Match results", "items": {"$ref": "#/components/schemas/StreamMatch"}}}, "type": "object"}, "StreamMatch": {"properties": {"highlights": {"type": "array", "description": "The highlighted text match", "items": {"type": "string"}}, "type": {"type": "string", "description": "Type of the resulting match, content, transcript, etc"}, "content_id": {"type": "integer", "description": "Set if content type"}, "item_id": {"type": "integer", "description": "Set if transcript type"}, "sentiment_score": {"type": "number", "description": "Sentiment score"}, "event": {"$ref": "#/components/schemas/StreamEvent"}, "content": {"$ref": "#/components/schemas/StreamContent"}, "linguistics": {"description": "Linguistic analysis", "allOf": [{"$ref": "#/components/schemas/Linguistics"}]}, "collapsed": {"type": "array", "description": "Matches identified as duplicates", "items": {"$ref": "#/components/schemas/CollapsedStreamMatch"}}}, "type": "object"}, "StreamEvent": {"properties": {"event_id": {"type": "string", "description": "Event ID"}, "title": {"type": "string", "description": "Event title"}, "date": {"type": "string", "format": "date-time", "description": "Event date"}, "event_type": {"type": "string", "description": "Event type, earnings, etc"}, "url": {"type": "string", "description": "Content URL"}, "equity": {"$ref": "#/components/schemas/Equity"}, "secondary_equities": {"type": "array", "items": {"$ref": "#/components/schemas/Equity"}}}, "type": "object"}, "StreamContent": {"properties": {"type": {"type": "string", "description": "Content subtype"}, "title": {"type": "string", "description": "Content title"}, "published_date": {"type": "string", "format": "date-time", "description": "Content published date"}, "url": {"type": "string", "description": "Content URL"}, "equity": {"$ref": "#/components/schemas/Equity"}, "secondary_equities": {"type": "array", "items": {"$ref": "#/components/schemas/Equity"}}}, "type": "object"}, "CollapsedStreamMatch": {"properties": {"highlights": {"type": "array", "description": "The highlighted text match", "items": {"type": "string"}}, "type": {"type": "string", "description": "Type of the resulting match, content, transcript, etc"}, "content_id": {"type": "integer", "description": "Set if content type"}, "item_id": {"type": "integer", "description": "Set if transcript type"}}, "type": "object"}, "EventTopics": {"properties": {"event_id": {"type": "string", "description": "Event ID"}, "title": {"type": "string", "description": "Event title"}, "date": {"type": "string", "description": "Event date"}, "event_type": {"type": "string", "description": "Event type"}, "equity": {"$ref": "#/components/schemas/Equity"}}, "type": "object"}, "TopicEvents": {"properties": {"topic_id": {"type": "string", "description": "Topic ID"}, "topic": {"type": "string", "description": "Topic"}, "event_count": {"type": "integer", "description": "Event count"}}, "type": "object"}, "TopicEquities": {"properties": {"topic_id": {"type": "string", "description": "Topic ID"}, "topic": {"type": "string", "description": "Topic"}, "equity_count": {"type": "integer", "description": "Equity count"}}, "type": "object"}, "FilingContent": {"properties": {"content_id": {"type": "integer", "description": "Filing ID"}, "title": {"type": "string", "description": "Document title"}, "published_date": {"type": "string", "format": "date-time", "description": "Published date"}, "form_number": {"type": "string", "description": "Form number"}, "filing_organization": {"type": "string", "description": "Filing organization"}, "is_amendment": {"type": "integer", "description": "Is an amendment or not"}, "period_end_date": {"type": "string", "format": "date-time", "description": "Period end date"}, "release_date": {"type": "string", "format": "date-time", "description": "Release date"}, "arrival_date": {"type": "string", "format": "date-time", "description": "Arrival date"}, "pulled_date": {"type": "string", "format": "date-time", "description": "Pulled date"}, "pdf_url": {"type": "string", "description": "PDF document url"}, "url": {"type": "string", "description": "Document url"}}, "type": "object"}, "NewsContent": {"properties": {"content_id": {"type": "integer", "description": "Content ID"}, "title": {"type": "string", "description": "Document title"}, "news_source_id": {"type": "integer", "description": "Source ID"}, "news_source": {"type": "string", "description": "Source name"}, "published_date": {"type": "string", "format": "date-time", "description": "Published date"}, "url": {"type": "string", "description": "Document url"}}, "type": "object"}, "NewsSources": {"properties": {"news_source_id": {"type": "integer", "description": "News source ID"}, "news_source": {"type": "string", "description": "News source name"}}, "type": "object"}}}, "paths": {"/calendar-v2/": {"get": {"tags": ["Calendar v2"], "summary": "Get Calendar", "description": "Retrieve calendar events filtered by specific equities or watchlists, with flexible date ranges and event type filtering.\n\n**Notes:**\n- `modified_since` can be used to synchronize with an external system.\n- All dates (`event_date`, `created`, `modified`) are in Eastern Time (America/New_York timezone) and formatted in ISO 8601.\n- By default, `start_date` and `end_date` are set to +/- 2 weeks.\n- Only **one** of the equity identifiers (`bloomberg_ticker`, `isin`, `cusip`, `permid`, `ric`, or `ticker`) should be used per request. Using multiple equity identifier query parameters will end up resolving only one of them.\n- You can only pull a maximum of 365 days worth of calendar data at a time (using `start_date` and `end_date`, or `modified_since`). You could extend this range to 730 days by filtering to specific equities using one of the supported identifiers (or the `watchlist_id` parameter).", "operationId": "get_get_calendar", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "start_date", "in": "query", "description": "Start date (default 2 weeks ago)", "schema": {"type": "string", "format": "date-time"}}, {"name": "end_date", "in": "query", "description": "End date (default 2 weeks from now)", "schema": {"type": "string", "format": "date-time"}}, {"name": "event_type", "in": "query", "description": "Event types to include", "schema": {"type": "array", "items": {"type": "string", "enum": ["earnings", "presentation", "shareholder_meeting", "investor_meeting", "special_situation", "earnings_release"]}}}, {"name": "modified_since", "in": "query", "description": "Returns events modified after the date passed in", "schema": {"type": "string", "format": "date-time"}}, {"name": "bloomberg_ticker", "in": "query", "description": "Filter to one or more Bloomberg tickers, comma-separated", "schema": {"type": "string"}}, {"name": "isin", "in": "query", "description": "Filter to one or more ISINs, comma-separated", "schema": {"type": "string"}}, {"name": "cusip", "in": "query", "description": "Filter to one or more CUSIPs, comma-separated", "schema": {"type": "string"}}, {"name": "ric", "in": "query", "description": "Filter to one or more RICs, comma-separated", "schema": {"type": "string"}}, {"name": "ticker", "in": "query", "description": "Filter to one or more ticker symbols, comma-separated", "schema": {"type": "string"}}, {"name": "permid", "in": "query", "description": "Filter to one or more PermIDs, comma-separated", "schema": {"type": "string"}}, {"name": "watchlist_id", "in": "query", "description": "Filter to a watchlist ID", "schema": {"type": "integer"}}, {"name": "company_rollup", "in": "query", "description": "Whether to roll up matches to the corresponding company entity", "schema": {"type": "boolean"}}, {"name": "include_deleted", "in": "query", "description": "Whether to include deleted event records (for reconciliation)", "schema": {"type": "boolean"}}, {"name": "include_private", "in": "query", "description": "Whether to include private events", "schema": {"type": "boolean"}}, {"name": "sort_key", "in": "query", "description": "Sort key for results", "schema": {"type": "string", "enum": ["event_id_asc", "event_id_desc", "event_date_asc", "event_date_desc"]}}, {"name": "page", "in": "query", "description": "Page number", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "description": "Results per page", "schema": {"type": "integer", "default": 100, "minimum": 10, "maximum": 100}}], "responses": {"400": {"description": "Bad request"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CalendarResponse"}}}}}}}, "/calendar-v2/coverage": {"get": {"tags": ["Calendar v2"], "summary": "Calendar Coverage", "description": "Fetch calendar coverage information (companies and equities).\n\n**Notes:**\n- Only **one** of the equity identifiers (`bloomberg_ticker`, `isin`, `cusip`, `ric`, or `permid`) should be used per request. Using multiple equity identifier query parameters will end up resolving only one of them.\n- When filtering by a specific identifier or `watchlist_id`, the response includes a `results` object containing matched company and equity details in addition to the `counts` summary. When no filter is applied, only `counts` is returned.\n- The equity schema in this endpoint uses `gics_subsector` (no underscore). Note that this differs from the [`/calendar-v2/estimated`](./get_get_event_estimates) endpoint, which uses `gics_sub_sector` (with underscore).", "operationId": "get_equities_covered", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "bloomberg_ticker", "in": "query", "description": "Filter to one or more Bloomberg tickers, comma-separated", "schema": {"type": "string"}}, {"name": "isin", "in": "query", "description": "Filter to one or more ISINs, comma-separated", "schema": {"type": "string"}}, {"name": "cusip", "in": "query", "description": "Filter to one or more CUSIPs, comma-separated", "schema": {"type": "string"}}, {"name": "ric", "in": "query", "description": "Filter to one or more RICs, comma-separated", "schema": {"type": "string"}}, {"name": "ticker", "in": "query", "description": "Filter to one or more ticker symbols, comma-separated", "schema": {"type": "string"}}, {"name": "permid", "in": "query", "description": "Filter to one or more PermIDs, comma-separated", "schema": {"type": "string"}}, {"name": "watchlist_id", "in": "query", "description": "Filter to a watchlist ID", "schema": {"type": "integer"}}, {"name": "company_rollup", "in": "query", "description": "Whether to roll up matches to the corresponding company entity", "schema": {"type": "boolean"}}], "responses": {"400": {"description": "Bad request"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CoverageResponse"}}}}}}}, "/calendar-v2/estimated": {"get": {"tags": ["Calendar v2"], "summary": "Estimated Events", "description": "Retrieve estimated events filtered by ticker, date range, and other equity identifiers.\n\n**Notes:**\n- Access to this endpoint requires explicit permissions to be enabled on your API key. If you receive a 403 error or empty results, contact your Aiera account team to have estimated events access activated.\n- All dates are in Eastern Time (America/New_York timezone) and formatted in ISO 8601.\n- Only **one** of the equity identifiers (`bloomberg_ticker`, `isin`, `ric`, or `permid`) should be used per request. Using multiple equity identifier query parameters will end up resolving only one of them.\n- Each result includes `created` and `modified` timestamps (Eastern Time, ISO 8601) indicating when the estimate was first created and last updated.\n- The equity schema in this endpoint uses `gics_sub_sector` (with underscore). Note that this differs from the [`/calendar-v2/coverage`](./get_equities_covered) endpoint, which uses `gics_subsector` (no underscore).", "operationId": "get_get_event_estimates", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "start_date", "in": "query", "description": "Start date (default now)", "schema": {"type": "string", "format": "date-time"}}, {"name": "end_date", "in": "query", "description": "End date (default 26 weeks from now)", "schema": {"type": "string", "format": "date-time"}}, {"name": "bloomberg_ticker", "in": "query", "description": "Filter to one or more Bloomberg tickers, comma-separated (e.g. AAPL:US)", "schema": {"type": "string"}}, {"name": "isin", "in": "query", "description": "Filter to one or more ISINs, comma-separated", "schema": {"type": "string"}}, {"name": "permid", "in": "query", "description": "Filter to one or more PermIDs, comma-separated", "schema": {"type": "string"}}, {"name": "ric", "in": "query", "description": "Filter to one or more RICs, comma-separated", "schema": {"type": "string"}}, {"name": "ticker", "in": "query", "description": "Filter to one or more ticker symbols, comma-separated", "schema": {"type": "string"}}, {"name": "event_ids", "in": "query", "description": "Filter to one or more event IDs, comma-separated", "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "page", "in": "query", "description": "Page number", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "description": "Results per page", "schema": {"type": "integer", "default": 100, "minimum": 10, "maximum": 100}}], "responses": {"400": {"description": "Bad request"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EstimatesResponse"}}}}}}}, "/calendar-v2/{event_id}": {"get": {"tags": ["Calendar v2"], "summary": "Get Calendar Event", "description": "Fetch a single calendar event by ID", "operationId": "get_get_calendar_entry", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "event_id", "in": "path", "required": true, "description": "The event id to fetch the calendar info for", "schema": {"type": "string"}}], "responses": {"404": {"description": "Event not found"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CalendarEvent"}}}}}}}, "/calendars/ical/high_priority": {"get": {"tags": ["Calendars v1"], "summary": "iCal High Priority Calendar", "description": "Get an iCal formatted calendar for high-priority events.\n\n**Notes:**\n- This is a public endpoint and does not require authentication.", "operationId": "get_get_high_priority_calendar", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "types", "in": "query", "description": "Event types to include (default: all)", "schema": {"type": "array", "items": {"type": "string", "enum": ["earnings", "presentation", "shareholder_meeting", "investor_meeting", "special_situation", "earnings_release"]}}}, {"name": "alarms", "in": "query", "description": "Whether to add 1-minute reminder alarms to events (default: false)", "schema": {"type": "boolean", "default": false}}], "responses": {"200": {"description": "iCal calendar (text/calendar)"}}}}, "/calendars/ical/user": {"get": {"tags": ["Calendars v1"], "summary": "iCal User Calendar", "description": "Get an iCal formatted calendar based on user's watchlists for calendar subscription.\n\n**Notes:**\n- Uses iCal token for authentication instead of the standard API key header.", "operationId": "get_calendar_ical_user", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "token", "in": "query", "description": "User's iCal token (required for authentication)", "schema": {"type": "string"}}, {"name": "watchlist_id", "in": "query", "description": "Specific watchlist ID to filter events (defaults to all user's watchlists)", "schema": {"type": "integer"}}, {"name": "types", "in": "query", "description": "Event types to include (default: all)", "schema": {"type": "array", "items": {"type": "string", "enum": ["earnings", "presentation", "shareholder_meeting", "investor_meeting", "special_situation", "earnings_release"]}}}, {"name": "excluded", "in": "query", "description": "Event types to exclude", "schema": {"type": "array", "items": {"type": "string", "enum": ["earnings", "presentation", "shareholder_meeting", "investor_meeting", "special_situation", "earnings_release"]}}}, {"name": "end_date", "in": "query", "description": "End date for events relative to now", "schema": {"type": "string", "enum": ["1W", "2W", "4W", "2M", "3M"], "default": "4W"}}], "responses": {"404": {"description": "User not found"}, "403": {"description": "User does not have iCal permission"}, "200": {"description": "iCal calendar (text/calendar)"}}}}, "/chat-v1/sessions": {"get": {"tags": ["Chat v1"], "summary": "List Chat Sessions", "description": "List the user's chat sessions, ordered most-recently-updated first, with pagination.\n\n**Notes:**\n- Session summaries returned by this endpoint omit the `messages` array. Fetch a specific session with `include_messages=true` to retrieve full conversation history.", "operationId": "get_chat_sessions", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "page", "in": "query", "description": "Page number (default 1)", "schema": {"type": "integer", "default": 1, "minimum": 1}}, {"name": "page_size", "in": "query", "description": "Results per page (default 20, max 100)", "schema": {"type": "integer", "default": 20, "minimum": 1, "maximum": 100}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChatSessionsList"}}}}}}, "post": {"tags": ["Chat v1"], "summary": "Create Chat Session", "description": "Create a new chat session, optionally with an initial prompt\n\nCreate a new chat session. If a `prompt` is supplied in the request body, the first message is sent immediately and the session begins generating a response \u2014 the new session is returned with status `finding_sources` and an `initial_prompt` field echoing the submitted prompt.\n\n**Notes:**\n- When `prompt` is provided, the session starts in `finding_sources` status. Poll [`GET /chat-v1/sessions/{id}?include_messages=true`](./get_chat_session_detail) until `status` is `active` to retrieve the response.\n- The `initial_prompt` field in the response is only present when a `prompt` was included in the request.", "operationId": "post_chat_sessions", "security": [{"apiKeyHeader": []}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateChatSession"}}}}, "responses": {"400": {"description": "Bad request"}, "201": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChatSession"}}}}}}}, "/chat-v1/sessions/{session_id}": {"parameters": [{"description": "Unique identifier of the chat session", "name": "session_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "get": {"tags": ["Chat v1"], "summary": "Get Chat Session", "description": "Retrieve a chat session by its ID. Optionally include the full message history, per-response status events, and user votes on messages.\n\nCallers typically poll this endpoint after sending a prompt to watch for status to return to `active` and pick up the generated response.\n\n**Notes:**\n- Returns `404` if the session does not exist or does not belong to the user.\n- While the response is still being generated, the session `status` will be `finding_sources` or `generating_response` and the response message may be absent from `messages`. Poll until `status` is `active`.", "operationId": "get_chat_session_detail", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "include_messages", "in": "query", "description": "Include all messages in the session", "schema": {"type": "boolean", "default": false}}, {"name": "include_statuses", "in": "query", "description": "Include status messages for responses", "schema": {"type": "boolean", "default": false}}, {"name": "include_votes", "in": "query", "description": "Include votes on messages", "schema": {"type": "boolean", "default": true}}], "responses": {"404": {"description": "Session not found"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChatSession"}}}}}}, "patch": {"tags": ["Chat v1"], "summary": "Update Chat Session", "description": "Update a chat session's title or its sources. Only the fields present in the request body are changed \u2014 omitted fields are left as-is.\n\n**Notes:**\n- Returns `404` if the session does not exist or does not belong to the user.\n- To clear a session's sources, use [`POST /chat-v1/sessions/{id}/sources/clear`](./post_chat_session_clear_sources) \u2014 passing `sources: []` in this endpoint is not equivalent.", "operationId": "patch_chat_session_detail", "security": [{"apiKeyHeader": []}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateChatSession"}}}}, "responses": {"404": {"description": "Session not found"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChatSession"}}}}}}, "delete": {"tags": ["Chat v1"], "summary": "Delete Chat Session", "description": "Delete a chat session.\n\nThis is a soft delete \u2014 the session and its messages are no longer returned by list or get endpoints.\n\n**Notes:**\n- Returns `404` if the session does not exist or does not belong to the user.", "operationId": "delete_chat_session_detail", "security": [{"apiKeyHeader": []}], "responses": {"404": {"description": "Session not found"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteChatSessionResponse"}}}}}}}, "/chat-v1/sessions/{session_id}/prompt": {"parameters": [{"description": "Unique identifier of the chat session", "name": "session_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "post": {"tags": ["Chat v1"], "summary": "Send Chat Prompt", "description": "Send a prompt to an existing chat session.\n\nThe session begins generating a response asynchronously \u2014 poll [`GET /chat-v1/sessions/{id}`](./get_chat_session_detail) with `include_messages=true` to retrieve the response when the session returns to `active` status.\n\n**Notes:**\n- Returns `400` if `content` is missing or empty; `404` if the session does not exist or does not belong to the user.\n- The prompt is created synchronously and returned immediately. Generation runs in the background \u2014 the session transitions `finding_sources` \u2192 `generating_response` \u2192 `active`.", "operationId": "post_chat_session_prompt", "security": [{"apiKeyHeader": []}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChatPrompt"}}}}, "responses": {"404": {"description": "Session not found"}, "400": {"description": "Bad request"}, "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChatPromptResponse"}}}}}}}, "/chat-v1/sessions/{session_id}/sources/clear": {"parameters": [{"description": "Unique identifier of the chat session", "name": "session_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "post": {"tags": ["Chat v1"], "summary": "Clear Chat Session Sources", "description": "Remove all sources from a chat session. Subsequent prompts fall back to the agent's default source selection.\n\n**Notes:**\n- Returns `404` if the session does not exist or does not belong to the user.\n- This endpoint only clears the session-level sources set via [Create Session](./post_chat_sessions) or [Update Session](./patch_chat_session_detail). Per-message citations on existing responses are preserved.", "operationId": "post_chat_session_clear_sources", "security": [{"apiKeyHeader": []}], "responses": {"404": {"description": "Session not found"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChatSession"}}}}}}}, "/companies-v1/": {"get": {"tags": ["Companies v1"], "summary": "Find Companies", "description": "Fetch companies matching filter criteria.\n\n**Notes:**\n- Only **one** of the equity identifiers (`bloomberg_ticker`, `isin`, `permid`, `ric`, or `cusip`) should be used per request.", "operationId": "get_get_companies", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "bloomberg_ticker", "in": "query", "description": "Filter to one or more Bloomberg tickers, comma-separated (e.g. AAPL:US)", "schema": {"type": "string"}}, {"name": "isin", "in": "query", "description": "Filter to one or more ISINs, comma-separated", "schema": {"type": "string"}}, {"name": "permid", "in": "query", "description": "Filter to one or more PermIDs, comma-separated", "schema": {"type": "string"}}, {"name": "ric", "in": "query", "description": "Filter to one or more Reuters/Refinitiv RICs, comma-separated", "schema": {"type": "string"}}, {"name": "ticker", "in": "query", "description": "Filter to one or more ticker symbols, comma-separated", "schema": {"type": "string"}}, {"name": "cusip", "in": "query", "description": "Filter to one or more CUSIPs, comma-separated", "schema": {"type": "string"}}, {"name": "company_type", "in": "query", "description": "Company type filter", "schema": {"type": "string"}}, {"name": "ownership", "in": "query", "description": "Filter by ownership type", "schema": {"type": "string"}}, {"name": "incorporated_country_code", "in": "query", "description": "Filter by incorporated country code", "schema": {"type": "string"}}, {"name": "domiciled_country_code", "in": "query", "description": "Filter by domiciled country code", "schema": {"type": "string"}}, {"name": "page", "in": "query", "description": "Page number", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "description": "Results per page", "schema": {"type": "integer", "default": 100, "minimum": 10, "maximum": 100}}], "responses": {"400": {"description": "Bad request"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CompaniesResponse"}}}}}}}, "/companies-v1/{company_id}/": {"get": {"tags": ["Companies v1"], "summary": "Get Company", "description": "Fetch details for a specific company by ID", "operationId": "get_get_company", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "company_id", "in": "path", "required": true, "description": "The company ID to fetch", "schema": {"type": "string"}}], "responses": {"404": {"description": "Company not found"}, "400": {"description": "Bad request"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Company"}}}}}}}, "/company-docs-v1/": {"get": {"tags": ["Company Docs v1"], "summary": "Find Company Documents", "description": "Retrieve company documents filtered by category, keyword, or supported identifiers.\n\n**Notes:**\n- Only **one** identifier should be used per request\n- At least one company filter is required", "operationId": "get_get_docs", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "search", "in": "query", "description": "Search term for document title or category", "schema": {"type": "string"}}, {"name": "start_date", "in": "query", "description": "Start date (default 1 week ago)", "schema": {"type": "string", "format": "date-time"}}, {"name": "end_date", "in": "query", "description": "End date (default now)", "schema": {"type": "string", "format": "date-time"}}, {"name": "categories", "in": "query", "description": "Comma-separated list of categories to include", "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "exclude_categories", "in": "query", "description": "Comma-separated list of categories to exclude", "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "keywords", "in": "query", "description": "Comma-separated list of keywords to include", "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "exclude_keywords", "in": "query", "description": "Comma-separated list of keywords to exclude", "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "bloomberg_ticker", "in": "query", "description": "Filter to one or more Bloomberg tickers, comma-separated (e.g. AAPL:US)", "schema": {"type": "string"}}, {"name": "isin", "in": "query", "description": "Filter to one or more ISINs, comma-separated", "schema": {"type": "string"}}, {"name": "cusip", "in": "query", "description": "Filter to one or more CUSIPs, comma-separated", "schema": {"type": "string"}}, {"name": "ric", "in": "query", "description": "Filter to one or more RICs, comma-separated", "schema": {"type": "string"}}, {"name": "ticker", "in": "query", "description": "Filter to one or more ticker symbols, comma-separated", "schema": {"type": "string"}}, {"name": "permid", "in": "query", "description": "Filter to one or more PermIDs, comma-separated", "schema": {"type": "string"}}, {"name": "watchlist_id", "in": "query", "description": "Filter by watchlist ID", "schema": {"type": "integer"}}, {"name": "index_id", "in": "query", "description": "Filter by market index ID", "schema": {"type": "integer"}}, {"name": "sector_id", "in": "query", "description": "Filter by GICS sector ID", "schema": {"type": "integer"}}, {"name": "subsector_id", "in": "query", "description": "Filter by GICS sub-sector ID", "schema": {"type": "integer"}}, {"name": "include_delisted", "in": "query", "description": "Whether to include delisted equities", "schema": {"type": "boolean", "default": true}}, {"name": "company_rollup", "in": "query", "description": "Whether to roll up to all company equities", "schema": {"type": "boolean", "default": true}}, {"name": "page", "in": "query", "description": "Page number", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "description": "Results per page", "schema": {"type": "integer", "default": 100, "minimum": 10, "maximum": 100}}], "responses": {"400": {"description": "Bad request"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DocsResponse"}}}}}}}, "/company-docs-v1/categories": {"get": {"tags": ["Company Docs v1"], "summary": "Get Document Categories", "description": "Get document categories with counts.\n\n**Notes:**\n- At least one equity identifier is **required**, and only **one** identifier should be used per request.", "operationId": "get_doc_categories", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "search", "in": "query", "description": "Search term for filtering", "schema": {"type": "string"}}, {"name": "page", "in": "query", "description": "Page number", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "description": "Results per page", "schema": {"type": "integer", "default": 100, "minimum": 10, "maximum": 100}}, {"name": "bloomberg_ticker", "in": "query", "description": "Filter to one or more Bloomberg tickers, comma-separated (e.g. AAPL:US)", "schema": {"type": "string"}}, {"name": "isin", "in": "query", "description": "Filter to one or more ISINs, comma-separated", "schema": {"type": "string"}}, {"name": "cusip", "in": "query", "description": "Filter to one or more CUSIPs, comma-separated", "schema": {"type": "string"}}, {"name": "ric", "in": "query", "description": "Filter to one or more RICs, comma-separated", "schema": {"type": "string"}}, {"name": "ticker", "in": "query", "description": "Filter to one or more ticker symbols, comma-separated", "schema": {"type": "string"}}, {"name": "permid", "in": "query", "description": "Filter to one or more PermIDs, comma-separated", "schema": {"type": "string"}}, {"name": "sector_id", "in": "query", "description": "Filter by GICS sector ID", "schema": {"type": "integer"}}, {"name": "subsector_id", "in": "query", "description": "Filter by GICS sub-sector ID", "schema": {"type": "integer"}}, {"name": "include_delisted", "in": "query", "description": "Whether to include delisted equities", "schema": {"type": "boolean", "default": true}}, {"name": "company_rollup", "in": "query", "description": "Whether to roll up to all company equities", "schema": {"type": "boolean", "default": true}}], "responses": {"400": {"description": "Bad request"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CategoriesResponse"}}}}}}}, "/company-docs-v1/coverage": {"get": {"tags": ["Company Docs v1"], "summary": "Get Document Coverage", "description": "Get document coverage counts", "operationId": "get_doc_coverage", "security": [{"apiKeyHeader": []}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CoverageResponse"}}}}}}}, "/company-docs-v1/keywords": {"get": {"tags": ["Company Docs v1"], "summary": "Get Document Keywords", "description": "Get document keywords with counts.\n\n**Notes:**\n- At least one equity identifier is **required**, and only **one** identifier should be used per request.", "operationId": "get_doc_keywords", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "search", "in": "query", "description": "Search term for filtering", "schema": {"type": "string"}}, {"name": "page", "in": "query", "description": "Page number", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "description": "Results per page", "schema": {"type": "integer", "default": 100, "minimum": 10, "maximum": 100}}, {"name": "bloomberg_ticker", "in": "query", "description": "Filter to one or more Bloomberg tickers, comma-separated (e.g. AAPL:US)", "schema": {"type": "string"}}, {"name": "isin", "in": "query", "description": "Filter to one or more ISINs, comma-separated", "schema": {"type": "string"}}, {"name": "cusip", "in": "query", "description": "Filter to one or more CUSIPs, comma-separated", "schema": {"type": "string"}}, {"name": "ric", "in": "query", "description": "Filter to one or more RICs, comma-separated", "schema": {"type": "string"}}, {"name": "ticker", "in": "query", "description": "Filter to one or more ticker symbols, comma-separated", "schema": {"type": "string"}}, {"name": "permid", "in": "query", "description": "Filter to one or more PermIDs, comma-separated", "schema": {"type": "string"}}, {"name": "sector_id", "in": "query", "description": "Filter by GICS sector ID", "schema": {"type": "integer"}}, {"name": "subsector_id", "in": "query", "description": "Filter by GICS sub-sector ID", "schema": {"type": "integer"}}, {"name": "include_delisted", "in": "query", "description": "Whether to include delisted equities", "schema": {"type": "boolean", "default": true}}, {"name": "company_rollup", "in": "query", "description": "Whether to roll up to all company equities", "schema": {"type": "boolean", "default": true}}], "responses": {"400": {"description": "Bad request"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/KeywordsResponse"}}}}}}}, "/company-docs-v1/{doc_id}": {"get": {"tags": ["Company Docs v1"], "summary": "Get Company Document", "description": "Get a company document", "operationId": "get_get_doc", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "doc_id", "in": "path", "required": true, "description": "Identifier for a specific company document to retrieve", "schema": {"type": "string"}}], "responses": {"404": {"description": "Document not found"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DocItem"}}}}}}}, "/company-docs-v1/{doc_id}/pdf": {"get": {"tags": ["Company Docs v1"], "summary": "Get Company Document PDF", "description": "Download the document PDF", "operationId": "get_get_doc_pdf", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "doc_id", "in": "path", "required": true, "description": "The unique identifier for a company document", "schema": {"type": "string"}}], "responses": {"404": {"description": "Document not found"}, "400": {"description": "PDF not available"}, "200": {"description": "PDF document"}}}}, "/company-docs-v1/{doc_id}/text": {"get": {"tags": ["Company Docs v1"], "summary": "Get Company Document Text", "description": "Download the document plain text", "operationId": "get_get_doc_text", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "doc_id", "in": "path", "required": true, "description": "The unique identifier for a company document", "schema": {"type": "string"}}], "responses": {"404": {"description": "Document not found"}, "400": {"description": "Text not available"}, "200": {"description": "Plain text document"}}}}, "/equities-v2/": {"get": {"tags": ["Equities v2"], "summary": "Find Equities", "description": "Fetch equities, optionally with events, and narrowed down by search term or supported equity identifiers.\n\n**Notes:**\n- Only **one** of the equity identifiers (`bloomberg_ticker`, `isin`, `permid`, or `ric`) should be used per request. Using multiple equity identifiers will end up resolving only one of them.", "operationId": "get_get_equities", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "bloomberg_ticker", "in": "query", "description": "Filter to one or more Bloomberg tickers, comma-separated (e.g. AAPL:US)", "schema": {"type": "string"}}, {"name": "isin", "in": "query", "description": "Filter to one or more ISINs, comma-separated", "schema": {"type": "string"}}, {"name": "ric", "in": "query", "description": "Filter to one or more Reuters/Refinitiv RICs, comma-separated", "schema": {"type": "string"}}, {"name": "ticker", "in": "query", "description": "Ticker symbol", "schema": {"type": "string"}}, {"name": "permid", "in": "query", "description": "Filter to one or more PermIDs, comma-separated", "schema": {"type": "string"}}, {"name": "sector_id", "in": "query", "description": "Filter to a specific GICS sector ID", "schema": {"type": "string"}}, {"name": "subsector_id", "in": "query", "description": "Filter to a specific GICS sub-sector ID", "schema": {"type": "string"}}, {"name": "search", "in": "query", "description": "Search equities by name or ticker", "schema": {"type": "string"}}, {"name": "page", "in": "query", "description": "Page number", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "description": "Results per page", "schema": {"type": "integer", "default": 100, "minimum": 10, "maximum": 2500}}, {"name": "include_inactive", "in": "query", "description": "Whether to include inactive/delisted equities", "schema": {"type": "boolean"}}, {"name": "include_company_metadata", "in": "query", "description": "Whether to include the associated company's metadata (e.g. names, urls)", "schema": {"type": "boolean"}}, {"name": "include_sourcing", "in": "query", "description": "Whether to include sourcing information", "schema": {"type": "boolean"}}, {"name": "X-Fields", "in": "header", "description": "An optional fields mask", "schema": {"type": "string", "format": "mask"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Equities"}}}}, "400": {"description": "Bad request"}}}}, "/equities-v2/sectors": {"get": {"tags": ["Equities v2"], "summary": "Get Sectors", "description": "Fetch sector and sub-sector information", "operationId": "get_get_sectors", "security": [{"apiKeyHeader": []}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Sector"}}}}}}}}, "/equities-v2/summaries": {"get": {"tags": ["Equities v2"], "summary": "Get Equity Summaries", "description": "Get summary data for multiple equities", "operationId": "get_get_equity_summaries", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "bloomberg_ticker", "in": "query", "description": "Bloomberg formatted ticker (e.g. AAPL:US)", "schema": {"type": "string"}}, {"name": "isin", "in": "query", "description": "ISIN identifier", "schema": {"type": "string"}}, {"name": "permid", "in": "query", "description": "PermID identifier", "schema": {"type": "string"}}, {"name": "ric", "in": "query", "description": "Reuters/Refinitiv RIC", "schema": {"type": "string"}}, {"name": "ticker", "in": "query", "description": "Ticker symbol", "schema": {"type": "string"}}, {"name": "company_rollup", "in": "query", "description": "Roll up to all equities for the same company", "schema": {"type": "boolean"}}, {"name": "equity_ids", "in": "query", "description": "Comma-separated equity IDs", "schema": {"type": "string"}}, {"name": "lookback", "in": "query", "description": "Number of days to look back for summaries", "schema": {"type": "integer"}}], "responses": {"400": {"description": "Bad request"}, "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/EquitySummary"}}}}}}}}, "/equities-v2/{equity_id}/": {"get": {"tags": ["Equities v2"], "summary": "Get Equity", "description": "Fetch a specific equity, optionally with events, linguistics, and statistics", "operationId": "get_get_equity", "security": [{"apiKeyHeader": []}], "parameters": [{"name": "equity_id", "in": "path", "required": true, "description": "Equity ID or Bloomberg ticker", "schema": {"type": "string"}}, {"name": "bloomberg_ticker", "in": "query", "description": "Filter to one or more Bloomberg tickers, comma-separated (e.g. AAPL:US)", "schema": {"type": "string"}}, {"name": "isin", "in": "query", "description": "Filter to one or more ISINs, comma-separated", "schema": {"type": "string"}}, {"name": "ric", "in": "query", "description": "Filter to one or more Reuters/Refinitiv RICs, comma-separated", "schema": {"type": "string"}}, {"name": "ticker", "in": "query", "description": "Ticker symbol", "schema": {"type": "string"}}, {"name": "permid", "in": "query", "description": "Filter to one or more PermIDs, comma-separated", "schema": {"type": "string"}}, {"name": "sector_id", "in": "query", "description": "Filter to a specific GICS sector ID", "schema": {"type": "string"}}, {"name": "subsector_id", "in": "query", "description": "Filter to a specific GICS sub-sector ID", "schema": {"type": "string"}}, {"name": "search", "in": "query", "description": "Search equities by name or ticker", "schema": {"type": "string"}}, {"name": "page", "in": "query", "description": "Page number", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "description": "Results per page", "schema": {"type": "integer", "default": 100, "minimum": 10, "maximum": 2500}}, {"name": "include_inactive", "in": "query", "description": "Whether to include inactive/delisted equities", "schema": {"type": "boolean"}}, {"name": "include_company_metadata", "in": "query", "description": "Whether to include the
[...]
